langchain
langchain-google-genai
langgraph
python-dotenv
yfinance
newsapi-python
tavily-python
alpaca-py
pandas
ta
fastapi
uvicorn
python-multipart
plotly
backtesting
plotly
backtesting
asyncpraw
langgraph
